<strong>Password reset</strong>

<p>A request to reset the password was realized for the e-mail {{email}}. If you're not the author of this request, please change your password for security reasons. </p>

<p>To keep the password reset, use the token {{token}} or click the link below.</p>

<a href="{{link}}">Reset password</a>
