<strong>Shared event</strong>

<p>The following event was shared with you by {{user}}: </p>
<p>
  Event: {{event.title}} <br>
  Where? {{event.place}} <br>
  When? {{event.formatted_date}} <br>
  At what time? {{event.formatted_time}}
</p>
